In [9]:
from typing import List
import pandas as pd

In [10]:
data_path = '../mortality/mortality.csv'

In [11]:
mortality_data = pd.read_csv(data_path)

In [12]:
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [22]:
#DataFrame constructor
df_data : List[List[str | int | float]] = [[1900, '1-4 years', 1983.8],
                                          [1901, '1-4 years', 1695.0]]
df_columns : List[str] = ['Year', 'Age Group', 'Death Rate']

In [25]:
import pandas as pd

mortality_df = pd.DataFrame(
    data=df_data,
    columns=df_columns
)

In [26]:
mortality_df

   Year  Age Group  Death Rate
0  1900  1-4 years      1983.8
1  1901  1-4 years      1695.0

In [28]:
mortality_data.to_pickle('mortality_data.pkl')

In [29]:
mortality_data = pd.read_pickle('mortality_data.pkl')